*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body{
  height: 100%;
  width: 100%;
}
.parent{
  height: 100%;
  width: 100%;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  background-color: black;
}
.card{
  height: 330px;
  width: 260px;
  border: 2px solid black;
  border-radius: 30px;
  margin: 20px;
  padding: 30px;
  display: flex;
  background-color: #a29f9f;
  flex-direction: column;
  justify-content: space-between;
}
.card .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top img{
  height: 40px;
  width: 40px;
  border: 1px solid rgb(233, 224, 234);
  border-radius: 50%;
}

.top button{
  display: flex;
  text-align: center;
  font-size: 14px;
  border: 1px solid black;
  border-radius: 4px;
  padding: 4px;
  color: #b1b1b1;
  background-color: rgb(240, 238, 238);
}


.center h3{
  font-size: 20px;
  font-weight: 500;
}
.center h3 span{
  font-size: 10px;
  font-weight: 100;
  color: #b6b4b4;
}
.center .tag{
display: flex;
gap: 5px;
margin-top: 10px;
}
.center .tag h4{
  font-family: 10px;
  background-color: #d2cece;
  color: black;
  padding: 3px 8px;
  border-radius: 5px;
  font-weight: 300;
}
.bottom{
  display: flex;
  text-align: center;
  justify-content: space-between;
  border-top: 1px solid #b1b1b1;
  padding-top: 15px;
}
.bottom button{
  text-align: center;
  border: 1px solid black;
  padding: 3px;
  border-radius: 8px;
  color: white;
  background-color: black;
}

